@using WebApplication10.EF
@using WebApplication10.EntityModels

@model List< StudentOcjenePrikazVM>

@{
    ViewData["Title"] = "Prikaz";
    Layout = null;
}


<table class="table table-hover">
    <thead>
    <tr>
        <th>Naziv predmeta</th>
        <th>Ocjena</th>
        <th>Datum</th>
        <th>Akcija</th>
    </tr>
    </thead>
    <tbody>

    @foreach (StudentOcjenePrikazVM s in Model)
    {
        <tr>
            <td>@s.NazivPredmeta</td>
            <td>@s.BrojcanaOcjena</td>
            <td>@s.Datum.ToString("dd.MM.yyyy")</td>
            <td>
                <a href="/StudentOcjene/Prikaz">Uredi</a>
                <button onclick="OtvoriFormuUredi(@s.OcjenaID)">Uredi</button>
            </td>
        </tr>
    }


    </tbody>


</table>

<script>
 
</script>