
@model StudentDodajVM
@{

    //var opstine = (List<Opstina>)ViewData["opstine"];
    //var s = (StudentDodajVM) ViewData["student"];
}

 
<form asp-action="Snimi" asp-controller="Student">

    <div style="display: none">
        <label>Student ID</label>
        @*<input name="studentID" readonly value="@Model.ID"/>*@
        <input readonly asp-for="ID" />
    </div>

    <div>
        <label>Email</label>
        <input asp-for="Email" />
    </div>

    <div>
        <label>Ime</label>
        @*<input name="Ime" value="@Model.Ime"/>*@
        <input asp-for="Ime" />
    </div>

    <div>
        <label>Prezime</label>
        @*<input name="Prezime" value="@Model.Prezime"/>*@
        <input asp-for="Prezime" />
    </div>


    <div>
        <label>OpstinaRodjenjaID</label>
        <select asp-for="OpstinaRodjenjaID" asp-items="Model.opstine">
        </select>
    </div>


    <div>
        <label>OpstinaPrebivalistaID</label>
        <select asp-for="OpstinaPrebivalistaID" asp-items="Model.opstine">
        </select>
    </div>

    <input type="submit" value="Snimi" />

</form>