@using WebApplication10.EF
@using WebApplication10.EntityModels

@model List< StudentDetaljiVM>

@{
    ViewData["Title"] = "Prikaz";
    //Layout = null;
}


<table class="table table-hover">
    <thead>
    <tr>
        <th>Naziv predmeta</th>
        <th>Ocjena</th>
        <th>Datum</th>
    </tr>
    </thead>
    <tbody>

    @foreach (StudentDetaljiVM s in Model)
    {
        <tr>
            <td>@s.NazivPredmeta</td>
            <td>@s.BrojcanaOcjena</td>
            <td>@s.Datum.ToString("dd.MM.yyyy")</td>
        </tr>
    }


    </tbody>


</table>

