
@{
    ViewData["Title"] = "Uredi";
    Layout = null;
}
@model WebApplication10.Models.WebApplication10.Models.PrisustvoNaNastaviUrediVm
<h1>Uređivanje ocjene </h1>

<form id="PrisustvoForma" >
    <input type="hidden" asp-for="PrisustvoNaNastaviID"/>
    
    Student
    <input asp-for="ImeStudent" disabled/> <br/>
    
    Naziv predmeta
    <input asp-for="NazivPredmet" disabled/><br />

    Prisutan
    <input asp-for="IsPrisutan"/><br />
    
    Komentar
    <input asp-for="komentar"/><br />
    
    <input type="button" value="Snimi" class="btn btn-danger" onclick="PrisutvoNaNastaviSnimi()"/>
</form>
